<!DOCTYPE html>
<html>
	<head>
        <title>Books</title>
		<link type="text/css" rel="stylesheet" href="css/bootstrap.css">
		<link type="text/css" rel="stylesheet" href="css/HomepageStyle.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
		<script src="js/Homepagejs.js" type="text/javascript"></script>
		<script src="js/bootstrap.js" type="text/javascript"></script>
        
        
	</head>
	
	<body>
        
        <header>
           <% include ./navbars %>
        </header>
        <div class="jumbotron" id="top">
		  <div class="container">
			<h1>BOOKS</h1>
			<p>Make money of your unused books</p>
		  </div>
		</div> 
		
		<h2 id="MPB">Most Popular Books</h2>
		
		<div class="row">
          <% for(var i=0; i<books.length; i++) {%>
			  <div class="col-md-2">
				<div class="thumbnail">
				  <img src="./uploads/<%= books[i].photolink %>" width="100" height="100">
				  <div class="caption">
					<h4><%= books[i].title %></h4>
					<p><%= books[i].genre %></p>
					<p><a href="BookInfo.html" class="btn btn-primary" role="button">Rent</a> <a href="/bookInfo?book=<%= books[i].id %>" class="btn btn-default" role="button">View</a></p>
				  </div>
				</div>
            </div>
          <% } %>
		</div>
		
		<h2 id="MPB">Suggested Books</h2>
		
		<div class="row">
          <% for(var i=0; i<books.length; i++) {%>
			  <div class="col-md-2">
				<div class="thumbnail">
				  <img src="./uploads/<%= books[i].photolink %>" width="100" height="100">
				  <div class="caption">
					<h4><%= books[i].title %></h4>
					<p><%= books[i].genre %></p>
					<p><a href="BookInfo.html" class="btn btn-primary" role="button">Rent</a> <a href="/bookInfo?book=<%= books[i].id %>" class="btn btn-default" role="button">View</a></p>
				  </div>
				</div>
            </div>
          <% } %>
		</div>
		
		<footer>
            <div class="row">
                <div id="footB" class="col-md-4">
					<h2>About Us</h2>
                </div>
                <div id="footB" class="col-md-4">
					<h2>Contact Us</h2>
                </div>
                <div id="footB" class="col-md-4">
					<h2>FAQS</h2>
                </div>
            </div>
		</footer>
	
	</body>

</html>